@import url(fonts.googleapis.com/css?family=Raleway:400,700);

/* MAIN CSS */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
html, body, .container {
	height: 100%;
	/* cursor: none; */
}
body {
	background: #ebebeb;
	font-weight: 400;
	font-size: 1.8em;
	font-family: 'Raleway', Arial, sans-serif;
	min-height: 590px;
	line-height: 1.85em;
	overflow: hidden;
}
a {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	color: #fff;
}
.modal-dialog {
	width: 100% !important;
	height: 100%;
	padding: 0;
	margin: 0px !important;
}
/*.modal-content {
	height: auto;
	max-height: 100vh;
	min-height: 100vh;
	border-radius: 0 !important;
	background-color: rgba(105, 185, 255, 0.65) !important;
	color: #fff;
	font-size: 60px;
	text-align: center;
	padding: 10%;
	text-shadow: 1px 2px #808080;
}*/
.modal-content {
	background-color: rgb(238, 238, 238) !important;
	position: absolute;
	top: 5%;
	left: 26%;
	margin-top: -25px;
	margin-left: -200px;
	padding: 20px;
}
.redDot{
	color:#D30003;
	box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.1);
 	border-radius: 50%;
 	 -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.wallStatus{
	margin-top: 20px;
}
.status{
	color: #fff;
}
.main {
	padding: 20px;
	margin-top: 75px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 40px;
}
.infoName {
	margin-bottom: 3px;
	padding-bottom: 10px;
	min-height: 30px;
	padding-top: 10px;
	background: #ccc;
	color: #333;
	font-weight: bold;
	font-size: 38px;
	padding-left:10px;
	box-shadow: 1px 1px #a3a3a3;
}
.stance {
	text-transform: uppercase;
	font-weight: bold;
	height: 30px;
	text-align: center;
	font-size: 40px;
	position: relative;
	margin-top: 15px;
}
.itemOrder {
	margin-bottom: 4px;
	color: #d0d0d0;
	padding-bottom: 10px;
	background-color: #3A5067;
	max-width: 120px;
	text-align: center;
	padding-top: 10px;
	box-shadow: 1px 1px #333;
	font-size: 27px;
}
.activeSpeaker .itemOrder {
	-webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, .35) inset, 0 1px 0 #575757;
	-moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, .35) inset, 0 1px 0 #575757;
	background: #304254;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.activeSpeaker {
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.itemTime {
	padding-top: 10px;
	padding-right: 23px;
}
.itemName {
	margin-left: 20px;
	font-weight: bold;
	font-size: 30px;
	line-height: 16px;
}
.notes:before {
	content: '\f27b';
	font-family: 'FontAwesome';
}
.date {
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
}
hr {
	clear: both;
}
.itemInfo {
	padding: 10px;
	background-color: rgb(68, 68, 68);
	/* Needed for IEs */
}
.wallWrap {
	margin-top: 10px;
}
.nameRow.activeSpeaker .infoName {
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	color: #222;
	background: rgba(78, 176, 23, 0.38);
	/* border-bottom: 1px solid #545454; */
}
.nameRow {
	background: none;
	margin-left: -6px;
	margin-right: -100%;
}
.remaining {
	font-size: 40px;
	line-height: 55px;
	/* height: 100%; */
	margin-bottom: 12px;
	font-weight: bold;
	color: #4b4b4b;
	position: absolute;
	bottom: 10px;
	right: 50px;
}
.wallMeetingName{
	margin-bottom: 10px;
	color: #d0d0d0;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #3A5067;
	border-bottom: 0.2em solid #c7c7c7;
	min-height: 80px;
	margin-left: -15px;
	padding-left: 20px;
	margin-right: -15px;
	font-size: 28px;
}
