<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Saccounty RTS Kiosk</title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />	
		<link rel="stylesheet" type="text/css" href="css/ipad.css" />
		
	</head>
	<body>
		<div class="container">
			<div class="fs-form-wrap" id="fs-form-wrap">
				<form data-bind="css: {fsFormOverview: step === 6, fsFormFull: step !== 6}" id="myform" class="fs-form fs-form-full" autocomplete="off">
					<ol data-bind="with: request" class="fs-fields">
						<li data-bind="css: {fsCurrent: $parent.step === 0}">
							<span class="fs-field-label fs-anim-upper">What's your name?</span>
							<input data-bind="value: name" class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="First and Last" required/>
						</li>
						<li data-bind="css: {fsCurrent: $parent.step === 1}">
							<label class="fs-field-label fs-anim-upper" for="q3" >Are you a: </label>
							<div id="#constituants" class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								<div class="">
									<span><input data-bind="checked: official" id="q3b" name="q3" type="radio" value="constituant" class="conRadio" /><label for="q3b" class="conLabel"><h2>Constituent</h2></label></span>
									<span><p class="simplePtag">or</p></span>
									<span><input data-bind="checked: official" id="q3a" name="q3" type="radio" value="official" class="officalRadio"/><label for="q3a" class="officialLabel"><h2>Active / Retired Official</h2></label>
									</span>
								</div>
								<div data-bind="style: { display: official === 'official' ? 'block' : 'none' }" class="showInput" style="display: none">
									<input type="text" class="fs-anim-lower" id="q3c" placeholder="Agency Name">
								</div>
							</div>		
						</li>
						<li data-bind="css: {fsCurrent: $parent.step === 2}">
							<div class="" id="subColumns">
								<section class="fs-anim-lower">
									<label class="fs-field-label fs-anim-upper" for="q7">Which agenda item? </label>
									<select class="cs-select cs-skin-overlay">
										<option value="q7" disabled selected>Choose Agenda Item </option>
											<optgroup label="Agenda and Sub topics">
												<option value="1">#1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra a ante non dignissim.  </option>
												<option value="2">#2:Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra a ante non dignissim.
												</option>
												<option value="3">#3:Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra a ante non dignissim.  </option>
												<option value="4">Subtopic #4</option>
												<option value="5">Subtopic #5</option>
												<option value="6">Subtopic #6</option>
												<option value="7">Subtopic #7</option>
												<option value="8">Subtopic #8 </option>
											</optgroup>
											<optgroup label="&nbsp;">
												<option value="5">Subtopic #9</option>
												<option value="6">Subtopic #10</option>
												<option value="7">Subtopic #11</option>
												<option value="8">Subtopic #12 </option>
												<option value="5">Subtopic #13</option>
												<option value="6">Subtopic #14</option>
												<option value="7">Subtopic #15</option>
												<option value="8">Subtopic #16</option>
											</optgroup>
											<optgroup label="&nbsp;">
												<option value="5">Subtopic #9</option>
												<option value="6">Subtopic #10</option>
												<option value="7">Subtopic #11</option>
												<option value="8">Subtopic #12 </option>
												<option value="5">Subtopic #13</option>
												<option value="6">Subtopic #14</option>
												<option value="7">Subtopic #15</option>
												<option value="8">Subtopic #16</option>
											</optgroup>
									</select>
								</section>
							</div>
							<div class="clearfix"></div>
							<div id="stance">
								<label class="fs-field-label fs-anim-upper" for="q10" >What's your stance? </label>
								<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
									<div class="">
										<span><input data-bind="checked: stance" id="q10a" name="q10" type="radio" value="constituant" class="supportRadio" /><label for="q10a" ><h2>In-Support</h2></label></span>
										<span><input data-bind="checked: stance" id="q10b" name="q10" type="radio" value="official" class="opposedRadio"/><label for="q10b" ><h2>Opposed</h2></label></span>
										<span><input data-bind="checked: stance" id="q10c" name="q10" type="radio" value="official" class="neutralRadio"/><label for="q10c" ><h2>Neutral</h2></label></span>
									</div>
								</div>
							</div>
						</li>
						<li data-bind="css: {fsCurrent: $parent.step === 2}">
							<label class="fs-field-label fs-anim-upper" for="q4">Any notes you would like to share?</label>
							<textarea data-bind="textInput: notes" class="fs-anim-lower" id="q4" name="q4" placeholder="Describe here" maxlength="250"></textarea>
							<div class="fs-anim-lower countdown">
								<span data-bind="text: $parent.notesCharsRemaining"></span> characters remaining
							</div>
						</li>
						<li class="optional fs-anim-upper" data-bind="css: {fsCurrent: $parent.step === 3}">
							<label class="fs-field-label fs-anim-upper" for="q2" >What's your email address?</label>
							<input data-bind="value: email" class="fs-anim-lower " id="q2" name="q2" type="email" placeholder="your.email@saccounty.net" />
						</li>
						<li class="optional fs-anim-upper" data-bind="css: {fsCurrent: $parent.step === 4}">
							<label class="fs-field-label fs-anim-upper" for="q8" >What's your home address?</label>
							<input data-bind="value: address" class="fs-anim-lower optional" id="q8" name="q8" type="text" placeholder="123 Awesome St., Sacramento, CA 95817"/>
						</li>
						<li class="optional fs-anim-upper" data-bind="css: {fsCurrent: $parent.step === 5}">
							<label class="fs-field-label fs-anim-upper" for="q9" >What's your phone number?</label>
							<input data-bind="value: phone" class="fs-anim-lower optional" id="q9" name="q9" type="text" placeholder="916-123-4567" />
						</li>
				
					</ol><!-- /fs-fields -->
					<button data-bind="click: submitRequest" class="fs-submit" type="submit">Send Now</button>
					<button data-bind="click: nextStep" class="fs-continue">NEXT STEP!!!</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

		</div><!-- /container -->
		<div data-bind="style: { display: isMeetingActive === true ? 'none' : 'block' }" style="display:none; width:100%; height:100%; position:absolute">
		  <div class="glitch" role="document">
				<span class="model-par">There is currently <br> no active meeting.
				
				<br>
				Thank you.
				</span>
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div data-bind="style: { display: isConnected === true ? 'none' : 'block' }" style="display:none; width:100%; height:100%; position:absolute">
		  <div class="glitch" role="document">
				<span class="model-par">Due to unexpected circumstances, this kiosk is temporarily out of service. Please check back later.
				
				<br>
				Thank you.
				</span>
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
	</body>
</html>