<section>
    <h2 data-bind="text: displayName"></h2>
    <div>
        <span><span>is meeting active: </span><span data-bind="text: isMeetingActive"></span></span><br>
        <span><span>connected kiosks: </span><span data-bind="text: connectedKiosks"></span></span><br>
        <span><span>wall connected: </span><span data-bind="text: wallConnected"></span></span><br>
        <span><span>admins connected: </span><span data-bind="text: connectedAdmins"></span></span><br>
        <span><span>board views connected: </span><span data-bind="text: connectedBoards"></span></span><br>
    </div>
    <div>
        <button data-bind="click: endMeeting, enable: isMeetingActive">End Meeting</button>
    </div>
    <div data-bind="with: meeting">
        <div>
            <span data-bind="text: meetingName"></span>
        </div>
        <div class="row" data-bind="foreach: requests">
            <div class="col-sm-6 col-md-3">
                <span data-bind="text: firstName">
                </span>
            </div>
            <div>
                <button data-bind="click: $root.editRequest">edit</button>
            </div>
        </div>
    </div>
    <div class="row" data-bind="foreach: messages">
        <div class="col-sm-6 col-md-3">
            <span href="#" class="thumbnail" data-bind="text: message">
            </span>
        </div>
    </div>
</section>