<div class="container boardInfoWrap">
    <div class="row">
        <div class="col-md-12 main dashboard">
            <div class="row">
				<div class="notice pull-left col-xs-6 col-sm-3 col-md-2" data-bind="css: { 'notice-success': isMeetingActive === true, 'notice-danger': isMeetingActive === false }">
					<div>Meeting</div>
				</div>
				<div class="notice pull-left col-xs-6 col-sm-3 col-md-2" data-bind="css: { 'notice-success': wallConnected === true, 'notice-danger': wallConnected === false }">
					<div>Display Wall</div>
				</div>
				<div class="notice notice-info pull-left col-xs-6 col-sm-3 col-md-2">				
					<div>Kiosks: <span data-bind="text: connectedKiosks"></span></div>
				</div>
				<div class="notice notice-info pull-left col-xs-6 col-sm-3 col-md-2">
					<div>Admins: <span data-bind="text: connectedAdmins"></span></div>
				</div>
				
				<div class="notice notice-info pull-left col-xs-6 col-sm-3 col-md-2">
					<div>Board Views: <span data-bind="text: connectedBoards"></span></div>
				</div>
				
				<div class="clearfix"></div>
			</div>
            
			<div data-bind="visible: isMeetingActive">    
				<div class="pull-right endMeeting">
					<button class="btn btn-info" data-bind="click: refreshWall">
						<i class="fa fa-refresh"></i>
						<span class="hidden-xs">Refresh Wall</span>
					</button>
					<button class="btn btn-danger" data-bind="click: endMeeting">
						<i class="fa fa-ban"></i>
						<span class="hidden-xs">End Meeting</span>
					</button>
				</div>
				<div data-bind="with: meeting">
					<div class="row meetingName">
						<small>CURRENT MEETING:</small>
						<h3><span data-bind="text: meetingName"></span><span> - </span><span data-bind="text: $root.format(meetingDate)"></span></h3>
					</div>
					<div class="row ">
						<div class="col-xs-4">
							<label for="exampleSelect1">Filter</label>
							<select class="form-control" id="exampleSelect1">
								<option>Time Entered</option>
								<option>Stance</option>
							</select>
						</div>
					</div>
					<div class="adminNamesWrap" data-bind="foreach: requests">
						<div class="row">
							<div class="pull-left col-xs-9 col-sm-9 col-md-7">
								<div>
									<span data-bind="text: firstName"></span>
									<span data-bind="text: lastName"></span>
									|
									<small class="time" data-bind="text: $root.format(dateAdded)"></small>
								</div>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-5 btns">
								<div class="col-md-3">
									<button class="btn btn-primary" data-bind="click: $root.editRequest">
										<i class="fa fa-pencil"></i> 
										<span class="hidden-xs">Edit</span>
									</button>
								</div>
								<div class="col-md-3">
									<button class="btn btn-danger">
										<i class="fa fa-trash"></i>
										<span class="hidden-xs">Delete</span>
									</button>
								</div>
								<div class="col-md-3">
									<button class="btn btn-danger">
										<i class="fa fa-minus"></i>
										<span class="hidden-xs">Remove</span>
									</button>
								</div>
								<div class="col-md-3 col-xs-5">
									<label class="activeChk">
									  <input type="checkbox" />
									  <i></i>
									</label>
									<label class="approvedChk">
									  <input type="checkbox" data-bind="checked: (status === 'approved' || status === 'display' || status === 'active'), click: $root.approveRequest"/>
									  <i></i>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-bind="foreach: messages">
				<div class="col-sm-6 col-md-3">
					<span href="#" class="thumbnail" data-bind="text: message">
					</span>
				</div>
			</div>

		</div>
	</div>
</div>
