<div class="container-fluid">
    <nav class="navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="active">
          <div class="pull-right">
            <div>
              <i class="fa fa-spinner fa-spin fa-fw" data-bind="visible: !isMeetingActive"></i>
            </div>
            <div data-bind="visible: !isConnected">
				      <span><i class="fa fa-circle redDot" aria-hidden="true"></i></span>
			      </div>           
          </div>
        </div>
      </div>
    </nav>
    <div class="wallWrap"  data-bind="foreach: displayRequests, visible: isMeetingActive">
        <div class="row nameRow" data-bind="css: { activeSpeaker: status === 'active'}" >
          <div class="itemOrder col-md-2" data-bind="text: item.itemOrder">
          </div>
          <div class="infoName col-md-10">
            <span data-bind="text: firstName"></span>
            <span data-bind="text: lastName"></span>
          </div>
        </div>
    </div>
    <div class="remaining pull-right" data-bind="visible: isMeetingActive">
      <span>Remaining Speakers: <span>
      <span data-bind="text: requests.length"></span>
    </div>
</div>